# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/

*.csv
*.txt
*.ascii

src/tianshou

environments/KuaiRec/data/*
#!environments/KuaiRec/data/.gitkeep
environments/VirtualTaobao
environments/RL4Rec/*

saved_models/
visualization/figures
visualization/results

*.zip
results_for_paper/*.pdf
*.pdf
*.pth
# *.png
#results_for_paper/

*.egg*
events.*



*.log
*.xlsx
*.tex
*.pdf

# for excluding the uncompressed dataset files.
*.tar.gz
*.DS_Store
*._*