# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.idea/
.vscode/

*.csv
*.txt
*.ascii

src/tianshou

#!environments/KuaiRec/data/.gitkeep

saved_models/

*.zip
*.pth

*.egg*
events.*

*.log
!/visual_results/**/*.log
*.xlsx
*.tex
!/visual_results/**/*.tex
*.pdf
!/visual_results/**/*.pdf
*.png
!/visual_results/**/*.png

# for excluding the uncompressed dataset files.
*.tar.gz
*.DS_Store
*._*

*.pkl
*.pickle
temp.*
*.dat
